<main class="w-full min-h-screen p-0 m-0 border-box font-medium flex justify-center bg-slate-100">
  <div class="flex flex-col justify-center gap-y-4  rounded-[.5rem]">
    <h1 class="text-[2.25rem] font-head">
      Custom RxJs Operator and Unit Testing
    </h1>
    <div class="flex justify-between flex-col">
      <p>Previous Observable(data stream) : {{ dataObs$ | async }}</p>
      <p>
        Transformed value :
          @for(item of transformed; track item){
            <span>{{ item }}</span>
          }
      </p>
    </div>

  </div>
</main>
